<!doctype html>
<html>
  <head>
    {% load static %}
    <title>Login • DjangoChat</title>
    <link rel="shortcut icon" href="{%  static 'icon.svg' %}">
    <link rel="stylesheet" href="{%  static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>

  <body>

    <div class='settings-container'>

      <div class='settings-con-el'>
        <img class="profile-picture" id='avatar' src="media/{{ settings.profile_image }}" />

        <div class='settings-avatar-buttons'>
          <label for="avatar-upload" class="settings-avatar-button">Change Avatar</label>
          <input id="avatar-upload" type="file" accept="image/*">
          <button class='settings-avatar-button reset' onclick="avatarReset(true)">Reset Avatar</button>
        </div>
      </div>

      <div class='settings-con-el'>
        <div class='settings-username'>Username</div>
        <input class='settings-username-input' id='username-input' type="text" value="{{ settings.username }}" maxlength=32 />
      </div>

    </div>
    
    <div class="save-reset hide">
      <div class="save-reset-text">
        You have unsaved changes!
      </div>

      <div class='save-reset-buttons'>
        <button class='settings-avatar-button reset' onclick="SettingsReset()">Reset</button>
        <button class='save-reset-button' onclick='SettingsSave()'>Save Changes</button>
      </div>
    </div>

    <input type='hidden' id='csrf-token' value="{{ csrf_token }}" />
  </body>
  <script src="{%  static 'js/settings.js' %}"></script> 
</html>