<!doctype html>
<html>
  <head>
    {% load static %}
    <title>Sign up • DjangoChat</title>
    <link rel="shortcut icon" href="{%  static 'icon.svg' %}">
    <link rel="stylesheet" href="{%  static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{%  static 'js/main.js' %}"></script> 
  </head>
  <body>

    <div class='container' style='height: 600px;'>
      
      <div class='logodiv'>
        <img src ="{%  static 'icon.svg' %}" class='logo'/>
        <a class='logotext'>DjangoChat</a>
      </div>

        <form class='loginForm' name="SignForm" method="post" style='margin-top: 0px;'>
          {% csrf_token %}
          <label for="email">Email</label>
          <input type="text" placeholder="Email" name="email" id="email" class='login-singup-input' autocomplete="off" maxlength="150" required="">

          <label for="username">Username</label>
          <input type="text" placeholder="Username" name="username" id="username" class='login-singup-input' autocomplete="off" maxlength="32" required="">
          
          <label for="password">Password</label>
          <input type="password" placeholder="Password" name="password" id="password" class='login-singup-input' maxlength="150" required="">
          
          <button type='button' class="showpsd" onclick='TogglePassword()' style='bottom:-190px;'><i id='toggleeye' class="fa fa-eye"></i></button>
         
          {% if error %}
          <a class="error">{{ error }}</a>
          <button class="login-btn" style='margin-top:25px;'>Sign Up</button>
          
          {% else %}
          <button class="login-btn">Sign Up</button>
          
          {% endif %}
          
          <a type='button' class='signup-btn' href="{% url 'login_view' %}">Have an account? Log in</a>
        </form>
    
    </div>
    
  </body>
</html>

